<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Delphinarium Cienfuegos</title>
		
		<link rel="stylesheet" href="../vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/style.css">
	</head><!-- end Head -->
	<body>
		<div id="container">	
  		<nav class="navbar navbar-inverse navbar-fixed-top " id="menu" role="navigation">
  		    <div class="container">
  		      	<div class="navbar-header">
  		        	<button class="navbar-toggle  hidden-sm-up pull-right " type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
  		        	 <!--  &#9776; --> <!-- This the black icon that's need to be any color that I want see if fond awesome icon have it -->
  		       		<i class="fa fa-bars" aria-hidden="true"></i>
  		        	</button>
  		        	<a href="index.html" class="navbar-brand"  style="display: block;"> <img src="../img/logo.jpg" class="img-responsive" height="43" width="110"  alt="Logo Image" ></a>
  		      	</div>
  		        <div class="navbar-collapse   collapse  navbar-toggleable-xs" id="navbar" >
  		          	<ul class="nav navbar-nav" >
  						<li class="nav-item  hidden-xs-down ">
  							<a class="nav-link " href="../index.html"><i class="fa fa-home"></i> Home <span class="sr-only">(current)</span></a>
  						</li>
  						<li class="nav-item  hidden-sm-up" id="first-menu">
  						  	<a class="nav-link " href="../index.html"><i class="fa fa-home"></i> Home <span class="sr-only">(current)</span></a>
  						</li>
  						<li class="nav-item ">
  						  	<a class="nav-link" href="offers.html"><i class="fa fa-group"></i> Offers </a>
  						</li>
  						<li class="nav-item active">
  						  	<a class="nav-link" href="#"><i class="fa fa-info-circle"></i> About</a>
  						</li>
  					</ul>
  		            <a class="navbar-brand  navbar-right hidden-sm-up login nav-link nav-item" style="margin-top: 0px; display: inline-block; width: 100%" ><i class="fa fa-sign-in"></i> Login</a>
  		            <a class="navbar-brand pull-right hidden-xs-down login" > <i class="fa fa-sign-in"></i> Login</a>
  		    	</div>
  		    </div> 
    	</nav><!-- end navbar -->
      <div class="container">
         <div class="row" >
            <div style="padding-top: 4em"></div>
            <h3> About As</h3>
            <hr>
         </div>
         <div class="row" >
            <div class="col-sm-12 col-md-7">
              <div class="row">
                <div class="col-xs-12">
                  <h1>Our History</h1>
                  <p>This is a history of the installation. The project started at october 1995 and it wantst'n until december 2002 that finish the project.</p>
                </div>
                <div class="col-xs-12 ">
                  <div class="well">
                    <blockquote >
                        <p>What a nice place. Our daughter did the swim with the dolphins and this was outregeous. At the end of the show you have to lay in the water and 2 dolphins will push you 3 meters into the sky. A memory she will never forget. The personnel is wonderful, the setting is non-European and beautiful. Really great!</p>
                        <footer>CornelisRdam,
                          <cite>Lever 5 Contributor, Reviewed October 13, 2016</cite>
                        </footer>
                    </blockquote>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-md-5">
               <img src="../img/certificado2.jpg" alt="" style="width: 100%;" height="400">
            </div>
            
         </div>
         <div class="row row-content">
             <div class="col-xs-12 ">
                <h3>Send us your Feedback</h3> 
             </div>
             <div class="col-xs-12 col-sm-12" >
                  <form class="form-horizontal" role="form" style="width: 100%">
                      <div class="form-group row">
                          <label for="firstname" class="col-sm-2 control-form-label ">First Name</label>
                          <div class="col-sm-10">
                            <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Enter First Name">
                          </div>
                      </div>
                      <div class="form-group row">
                          <label for="lastname" class="col-sm-2 control-form-label">Last Name</label>
                          <div class="col-sm-10">
                            <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Enter Last Name">
                          </div>
                      </div>
                      <div class="form-group row">
                        <label for="telnum" class="col-xs-12 col-sm-2 control-form-label">Contact Tel.</label>
                        <div class="col-xs-5 col-sm-4 col-md-3">
                            <div class="input-group">
                                <div class="input-group-addon">(</div>
                                    <input type="tel" class="form-control" id="areacode" name="areacode" placeholder="Area code">
                                <div class="input-group-addon">)</div>
                            </div>
                        </div>
                        <div class="col-xs-7 col-sm-6 col-md-7">
                                    <input type="tel" class="form-control" id="telnum" name="telnum" placeholder="Tel. number">
                        </div>
                      </div>
                      <div class="form-group row">
                          <label for="emailid" class="col-sm-2 control-form-label">Email</label>
                          <div class="col-sm-10">
                              <input type="email" class="form-control" id="emailid" name="emailid" placeholder="Email">
                          </div>
                      </div>
                       <div class="form-group row">
                         <div class="checkbox col-sm-5 offset-sm-2">
                              <label class="checkbox-inline control-form-label">
                                  <input type="checkbox" name="approve" value="">
                                  <strong>May we contact you?</strong>
                              </label>
                          </div>
                          <div class="col-sm-3 offset-sm-1">
                              <select class="form-control">
                                  <option>Tel.</option>
                                  <option>Email</option>
                              </select>
                          </div>
                      </div>
                       <div class="form-group row">
                          <label for="feedback" class="col-sm-2 control-form-label">Your Feedback</label>
                          <div class="col-sm-10">
                              <textarea class="form-control" id="feedback" name="feedback" rows="12"></textarea>
                          </div>
                      </div>
                        <div class="form-group row">
                          <div class="offset-sm-2 col-sm-10">
                              <button type="submit" class="btn btn-primary">Send Feedback</button>
                          </div>
                      </div>
                  </form>
             </div>
               <div class="col-xs-12 col-sm-3">
                  <p style="padding:20px;"></p>
              </div>
         </div> <!-- end Send Feedback -->
      </div>
  		
    </div>  <!-- end id="container"-->
    <footer>
      <div class="container">
        <div class="row row-footer">
          <div class="col-xs-12 col-sm-6 col-lg-4 push-lg-1" >
              <h5>Our Address</h5>
                    <address>
                      km 25, Rancho Luna Beach,
                      Cienfuegos<br>
                      CUBA<br>
                      <i class="fa fa-phone"></i>: +53 43 548 120<br>
                      <!-- <i class="fa fa-fax"></i>: +852 8765 4321<br> -->
                      <i class="fa fa-envelope"></i>: 
                        <a href="mailto:dolphinmail@food.net">dolphinmail@food.net</a>
                   </address>
          </div> <!-- end Our address -->
           <div class="col-xs-12 col-sm-6 col-lg-4 push-lg-1  contact-icons" >
             <div class="nav navbar-nav">
                <a class="btn btn-danger" href="http://google.com/+"><i class="fa fa-google-plus fa-lg"></i></a>
                <a class="btn btn-primary btn-xs" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook fa-lg"></i></a>
                <a class="btn btn-primary" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin fa-lg"></i></a>
                <a class="btn btn-info btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter "></i></a>
                <!-- <a class="btn btn-danger btn-youtube" href="http://youtube.com/"><i class="fa fa-youtube fa-lg"></i></a> -->
              <!--   <a class="btn btn-danger" href="mailto:dolphinmail@food.net"><i class="fa fa-envelope-o "></i></a> -->
              </div> <!-- end Contact icons -->
          </div>
          <div class="col-xs-12 col-sm-6 col-lg-1  push-lg-1" >
            <ul class="nav navbar-nav">
            <li class="nav-item">
              <span class="nav-link nav-stacked nav-pills">Links: </span>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="offers.html">Offers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
          </ul> 
         </div><!-- end Links -->
        </div>
      </div>   
    </footer><!-- end Footer -->
		<script type="text/javascript" src="../vendor/tether/dist/js/tether.min.js"></script>
    <script type="text/javascript" src="../vendor/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <div id="loginModal" class="modal fade" role="dialog" >
      <div class="modal-dialog" style="width: 80%" >
          <!-- Modal Content -->
          <div class="modal-content ">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Login</h4>
              </div>
              <div class="modal-body">
                 <form class=" form-inline">
                    <div class="form-group">
                        <input type="email" name="email" placeholder="Email" class="form-control">
                        <input type="password" name="password" placeholder="Password" class="form-control">
                        <input type="checkbox" name="remember"> <label style="color:blue"> Remember me</label> <br  class="hidden-sm-up">
                        <button type="submit" style="margin-top: 15px" class="btn btn-primary form-control"> Sign in</button>
                        <button style="margin-top: 15px"  class="btn btn-default" data-dismiss="modal"> Close</button>
                    </div>
                 </form>
              </div>
          </div>
      </div>
    </div>
    <script type="text/javascript">
       $(document).ready(function() 
       {
        $('.login').click(function() {
            $('#loginModal').modal('show');
        });
       });
    </script>
	</body><!-- end Body -->
</html>
