<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Delphinarium Cienfuegos</title>
		
		<link rel="stylesheet" href="../vendor/bootstrap/dist/css/bootstrap.min.css">
	    <link rel="stylesheet" href="../vendor/font-awesome/css/font-awesome.min.css">
	    <link rel="stylesheet" href="../css/style.css">
	</head><!-- end Head -->
	<body>	
		<div id="container">
			<nav class="navbar navbar-inverse navbar-fixed-top " id="menu" role="navigation">
			    <div class="container">
			      	<div class="navbar-header">
			        	<button class="navbar-toggle  hidden-sm-up pull-right " type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
			        	 <!--  &#9776; --> <!-- This the black icon that's need to be any color that I want see if fond awesome icon have it -->
			       		<i class="fa fa-bars" aria-hidden="true"></i>
			        	</button>
			        	<a href="index.html" class="navbar-brand"  style="display: block;"> <img src="../img/logo.jpg" class="img-responsive" height="43" width="110"  alt="Logo Image" ></a>
			      	</div>
			        <div class="navbar-collapse   collapse  navbar-toggleable-xs" id="navbar" >
			          	<ul class="nav navbar-nav" >
							<li class="nav-item  hidden-xs-down ">
								<a class="nav-link " href="../index.html"><i class="fa fa-home"></i> Home <span class="sr-only">(current)</span></a>
							</li>
							<li class="nav-item  hidden-sm-up" id="first-menu">
							  	<a class="nav-link " href="../index.html"><i class="fa fa-home"></i> Home <span class="sr-only">(current)</span></a>
							</li>
							<li class="nav-item active">
							  	<a class="nav-link" href="#"><i class="fa fa-group"></i> Offers </a>
							</li>
							<li class="nav-item">
							  	<a class="nav-link" href="about.html"><i class="fa fa-info-circle"></i> About</a>
							</li>
						</ul>
			            <a class="navbar-brand  navbar-right hidden-sm-up login nav-link nav-item" style="margin-top: 0px; display: inline-block; width: 100%"><i class="fa fa-sign-in"></i> Login</a>
			            <a class="navbar-brand  pull-right hidden-xs-down login"> <i class="fa fa-sign-in"></i> Login</a>
			    	</div>
			    </div> 
  			</nav><!-- end navbar -->
		  	<div class="container">
		  		 <div class="row" >
		            <div style="padding-top: 4em"></div>
		            <h3> Our Offers</h3>
		            <hr>
		         </div>
		  		<div class="row row-content">
		            <div class="col-xs-12 col-sm-9 ">
		                <div class="media">
		                    <div class=" media-middle  media-left" >
	                        	<img class=" media-object img-thumbnail img-circle" src="../img/kissdolphins.png" alt="Uthappizza"   style="max-height: 80%; width: 10em">
	                    	</div>
		                    <div class="media-body">
		                        <h2 class="media-heading">The lower ever <span class="tag tag-danger tag-pill"> Just</span> <span class="bg-inverse tag">$ 50.00</span></h2>
		                        <p>You have access to develope activities on the plataform and in the water for at least 20 min, during this time picture with the animal can be taken. Adults price 50.00 CUC and children for 33 CUC. The price of hole CD with the pictures is 40 CUC and a single print photo in a 8X12 format in 10 CUC.</p>
		                        <p><a class="btn btn-primary btn-xs" href="#">More &raquo;</a></p>
		                    </div>		               
		            	</div>
		        	</div> 
		        	<div class="col-xs-12 col-sm-3">
		                <p style="padding:10px;"></p>
		                <h3 style="text-align: center"> Swimming with Dolphins</h3>
		            </div>
		        </div>
	        	<div class="row row-content">
		            <div class="col-xs-12 col-sm-3 col-sm-push-9">
		                <p style="padding:20px;"></p>
		                <h3  style="text-align: center">Kiss with Dolphins</h3>
		            </div>
		            <div class="col-xs-12 col-sm-9 col-sm-pull-3">
		                <div class="media">
		                    <div class=" media-middle  media-left" >
		                        <img class=" media-object img-thumbnail img-circle" src="../img/kissboy.png" alt="Uthappizza"   style="height: 6.3em; width: 11em; margin-top: 1em">
		                    </div>
		                    <div class="media-body">
		                        <h2 class="media-heading">Just For a <span class="tag tag-danger tag-pill"> Hot</span> <span class="bg-inverse tag">$ 10.00</span></h2>
		                        <p>A unique oporunity to recive a kiss and save that beatifull moment in a picture just for 10 CUC.</p>
		                        <p><a class="btn btn-primary btn-xs" href="#">More &raquo;</a></p>
		                    </div>
		                </div>
		            </div>
	        	</div>     		
			  	<div class="row row-content">
		           
		            <div class="col-xs-12 col-sm-9 ">
		                <div class="media">
		                    <div class="media-body">
		                        <h2 class="media-heading">A piece of memory a <span class="tag tag-danger tag-pill"> For</span>  <span class="bg-inverse tag">$ 10.00</span> </h2>
		                        <p>Show your best shape and smile to take with our wonderfull animals a piece of memory that you never going to forget, for a price of 10 CUC.</p>
		                        <p><a class="btn btn-primary btn-xs" href="#">More &raquo;</a></p>
		                    </div>
			                <div class="media-right media-middle">
			                        <a href="#">
			                        <img class="media-object img-thumbnail"
			                         src="../img/shootdolphins.png" alt="Uthappizza"  style="max-height: 100%; width: 10em">
			                        </a>
			                </div>
		            	</div>
		        	</div> 
		        	 <div class="col-xs-12 col-sm-3">
		                <p style="padding:10px;"></p>
		                <h3  style="text-align: center">Photo with Dolphins</h3>
		            </div>
		        </div>  
		    </div>  
		</div> <!-- end id container -->
		
		<footer>
		<div class="container">
		  <div class="row row-footer">
		    <div class="col-xs-12 col-sm-6 col-lg-4 push-lg-1" >
		        <h5>Our Address</h5>
		              <address>
		                km 25, Rancho Luna Beach,
		                Cienfuegos<br>
		                CUBA<br>
		                <i class="fa fa-phone"></i>: +53 43 548 120<br>
		                <!-- <i class="fa fa-fax"></i>: +852 8765 4321<br> -->
		                <i class="fa fa-envelope"></i>: 
		                  <a href="mailto:dolphinmail@food.net">dolphinmail@food.net</a>
		             </address>
		    </div> <!-- end Our address -->
		     <div class="col-xs-12 col-sm-6 col-lg-4 push-lg-1  contact-icons" >
		       <div class="nav navbar-nav">
		          <a class="btn btn-danger" href="http://google.com/+"><i class="fa fa-google-plus fa-lg"></i></a>
		          <a class="btn btn-primary btn-xs" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook fa-lg"></i></a>
		          <a class="btn btn-primary" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin fa-lg"></i></a>
		          <a class="btn btn-info btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter "></i></a>
		          <!-- <a class="btn btn-danger btn-youtube" href="http://youtube.com/"><i class="fa fa-youtube fa-lg"></i></a> -->
		        <!--   <a class="btn btn-danger" href="mailto:dolphinmail@food.net"><i class="fa fa-envelope-o "></i></a> -->
		        </div> <!-- end Contact icons -->
		    </div>
		    <div class="col-xs-12 col-sm-6 col-lg-1  push-lg-1" >
		      <ul class="nav navbar-nav">
			      <li class="nav-item">
			        <span class="nav-link nav-stacked nav-pills" >Links: </span>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="../index.html">Home</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#">Offers</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="about.html">About</a>
			      </li>
		      </ul> 
		   </div><!-- end Links -->
		  </div>
		</div> 

		</footer><!-- end Footer -->

		<script type="text/javascript" src="../vendor/tether/dist/js/tether.min.js"></script>
	    <script type="text/javascript" src="../vendor/jquery/dist/jquery.min.js"></script>
	    <script type="text/javascript" src="../vendor/bootstrap/dist/js/bootstrap.min.js"></script>
		


     <div id="loginModal" class="modal fade" role="dialog">
            <div class="modal-dialog" style="width: 80%" >
                <!-- Modal Content -->
                <div class="modal-content ">
	              <div class="modal-header">
	                  <button type="button" class="close" data-dismiss="modal">&times;</button>
	                  <h4 class="modal-title">Login</h4>
	              </div>
	              <div class="modal-body">
	                 <form class=" form-inline">
	                    <div class="form-group">
	                        <input type="email" name="email" placeholder="Email" class="form-control">
	                        <input type="password" name="password" placeholder="Password" class="form-control">
	                        <input type="checkbox" name="remember"> <label style="color:blue"> Remember me</label> <br  class="hidden-sm-up">
	                        <button type="submit" style="margin-top: 15px" class="btn btn-primary form-control"> Sign in</button>
	                        <button style="margin-top: 15px"  class="btn btn-default" data-dismiss="modal"> Close</button>
	                    </div>
	                 </form>
	              </div>
          		</div>
            </div>
        </div>
	
      <script type="text/javascript">
           
             $(document).ready(function() {
              $('.login').click(function() {
                  $('#loginModal').modal('show');
              });
           });</script>


	</body><!-- end Body -->
</html>